[Unit]
Description=Butterfly Terminal Server


[Service]
Type=simple
User=atnnn
Group=atnnn
ExecStart=/home/atnnn/lib/butterfly/bin/butterfly.server.py --unsecure --login=false --shell=/home/atnnn/lib/butterfly/shell.sh


[Install]
WantedBy=multi-user.target
