[Unit]
Description=IPFS Daemon
After=syslog.target
After=network.target


[Service]
Type=simple
User=atnnn
Group=atnnn
ExecStart=/home/atnnn/code/ipfs/bin/ipfs daemon --mount
TimeoutSec=300


[Install]
WantedBy=multi-user.target
